body{
    margin: 0;
    background-color: rgb(12, 12, 12);
   max-width: 400px;
  
}
*{
    margin: 0;
   zoom: 94%;
    font-family: 'Poppins', sans-serif;
    
}

nav{
display: flex;
justify-content: space-around;


}
.firstpart{
    display: flex;
    margin-right: -5px;
}
.secondpart{
    display: flex;
    margin-right: -60px;
    margin-top: 5px;
}
.lastpart{
    display: flex;
    margin-right: -20px;
}
li{
    list-style: none;
    margin-right: 20px;

}
a{
text-decoration: none;
color: black;
}

.navhead{
    background-color: rgb(211, 208, 208);
    border-radius: 30px;
    margin: 5px 5px 20px 5px;
    padding: 5px;
    border: solid rgb(116, 115, 115) 0.5px;
}

.firstimg{
border-radius: 15px;
width: 30px;
margin-right: -25px;
}

.switchmodeimg{


        border-radius: 9999999999px;
        border: solid rgb(36, 36, 36) 0.5px;
        cursor: pointer;
        color: black;
        background-color: white;
        margin-top: 5px;
       margin-bottom: 5px;
       padding: auto;
      
}

.informations{
    margin-left: 20px;
   padding-top: 20px; 


}

.person{
border-radius: 15px;
border: 1px solid rgba(83, 83, 83, 0.671);


}

span{
    color: rgb(80, 79, 79);
}

.paragraphe{
    color: white;
    line-height:30px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
h2{
    color: white;
    margin-top: 20px;
}
h3{
    color: white;
    line-height:30px;
}
.download{
margin-bottom: 15px;
border-radius: 15px;
padding: 5px;
position: relative;


}


.lastitem{
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-style: oblique;
    display: flex;
}

.lastnav{
    display: flex;
align-items: end;
    justify-content: space-around;
  margin-top: 15px;
  margin-right: -370px;
  margin-bottom: 10px;
    
}
.lastdiv{
    display: flex;
    justify-content: space-around;
   max-width: 400px;
   max-height: -660px;
}

